<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body style="background-color:beige;">

    <h1>This week's recommended app ></h1>

    <div class="row">
        <div class="column">
          <img src="assets/adobe.png" alt="App" width="100" height="100">
          <!-- <i class="fa fa-adobe" width="100" height="100"></i> -->
          <h4 class="text">adobe</h4>
          <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
          <i class="fa fa-arrow-down"></i>
        </a>
        </div>
        <div class="column">
          <img src="assets/adobe lr.png" alt="App" width="100" height="100">
          <!-- <i class="fa fa-lightroom" width="100" height="100"></i> -->
          <h4 class="text">Light Room</h4>
          <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
          <i class="fa fa-arrow-down"></i>
        </a>
        </div>
        <div class="column">
          <img src="assets/twitter.png" alt="App" width="100" height="100">
          <!-- <i class="fa fa-twitter" width="100" height="100"></i> -->
          <h4 class="text">twitter</h4>
          <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
          <i class="fa fa-arrow-down"></i>
        </a>
        </div>
        <div class="column">
            <img src="assets/face.webp" alt="App" width="100" height="100">
            <!-- <i class="fa fa-facebook" width="100" height="100"></i> -->
            <h4 class="text">Facebook</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column">
            <img src="assets/instagram.avif" alt="App" width="100" height="100">
            <!-- <i class="fa fa-instagram" width="100" height="100"></i> -->
            <h4 class="text">instagram</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column">
            <img src="assets/spotify.png" alt="App" width="100" height="100">
            <!-- <i class="fa fa-spotify" width="100" height="100"></i> -->
            <h4 class="text">Spotify</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column">
            <img src="assets/PhonePe.png" alt="App" width="100" height="100">
            <h4 class="text">Phone Pay</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column">
            <img src="assets/hot.png" alt="App" width="100" height="100">
            <h4 class="text">Hotstar</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column">
            <img src="assets/meesh.webp" alt="App" width="100" height="100">
            <h4 class="text">meesho</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column">
            <img src="assets/j.avif" alt="App" width="100" height="100">
            <h4 class="text">Jio Cinema</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
      </div>  

      <h1>Trending Theme's ></h1>
      <div class="row">
        <div class="column1">
          <img src="assets/t1.avif" alt="Theme" width="100" height="180">
          <h4 class="text">Theme 1</h4>
          <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
          <i class="fa fa-arrow-down"></i>
        </a>
        </div>
        <div class="column1">
          <img src="assets/t2.jpg" alt="Theme" width="100" height="180">
          <h4 class="text">Theme 2</h4>
          <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
          <i class="fa fa-arrow-down"></i>
        </a>
        </div>
        <div class="column1">
          <img src="assets/t3.jpg" alt="Theme" width="100" height="180">
          <h4 class="text">Theme 3</h4>
          <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
          <i class="fa fa-arrow-down"></i>
        </a>
        </div>
        <div class="column1">
            <img src="assets/t4.webp" alt="Theme" width="100" height="180">
            <h4 class="text">Theme 4</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column1">
            <img src="assets/t5.webp" alt="Theme" width="100" height="180">
            <h4 class="text">Theme 5</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column1">
            <img src="assets/t6.png" alt="Theme" width="100" height="180">
            <h4 class="text">Theme 6</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column1">
            <img src="assets/t7.jpg" alt="Theme" width="100" height="180">
            <h4 class="text">Theme 7</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column1">
            <img src="assets/t8.webp" alt="Theme" width="100" height="180">
            <h4 class="text">Theme 8</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column1">
            <img src="assets/t9.jpg" alt="Theme" width="100" height="180">
            <h4 class="text">Theme 9</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
          <div class="column1">
            <img src="assets/t10.jpg" alt="Theme" width="100" height="180">
            <h4 class="text">Theme 10</h4>
            <a href="https://www.samsung.com/in/apps/galaxy-store/?cid=in_pd_ppc_google_im-all-all-all-dtc_sales_samsung-allproducts-all-2023_eshop-text-dsa_01jan2023-na_1ur-501336l-2023-eshop-bau-dsa-cpc_pfm-614139100219-17924215676-140077037736-dsa-546668199249----g--&gclid=EAIaIQobChMI-a3R2vCZgAMVDBeDAx1QjQzPEAAYASAAEgIZXvD_BwE">
            <i class="fa fa-arrow-down"></i>
          </a>
          </div>
      </div>  

      <footer>
        <div class="footer">
        <div id="uuu">
          <div>
            <i class="fa fa-th"></i>
          </div>
          <h6>App</h6>
        </div>
        <div id="uuu">
          <div>
            <i class="fa fa-gamepad"></i>
          </div>
          <h6>Games</h6>
        </div>
        <div id="uuu">
          <h6>My Galaxy</h6>
        </div>
        <div id="uuu">
        <div>
          <i class="fa fa-bars"></i>
        </div>
          <h6>Menu</h6>
          
        </div>

        </div>

      </footer>

</body>
</html>